<div ng-controller="Task303Controller as t303C" style="margin-left: 50px;">


    <div class="row" style="margin-top: 60px;">
        <div class="col">
            <div isp-video-player
                 isp-video-url="{{::t303C.videoUrl}}"
                 isp-poster-url="{{t303C.posterUrl}}"
                 isp-on-play="t303C.videoPlaying()"
                 isp-active="t303C.videoActive"
                 isp-on-completed="t303C.videoPlayed()"></div>
        </div>
    </div>
    <!--div ng-if="t303C.videoActive.active" isp-pointer isp-pointer-style="{ 'left': '370px', 'top': '250px'}" isp-timeout="3000" isp-hide-after="true"></div-->

    <div class="row">
        <div class="col">
            <img class="center" ng-show="t303C.showQuestion" src="content/common/images/questionmark.png" ng-click="t303C.clickAnswer()"
             ng-class="{'pulse' : t303C.pulse}" style="height: 205px;">
        </div>
        <!--div ng-if="t303C.showQuestion" isp-pointer isp-pointer-style="{ 'left': '410px', 'top': '570px'}" isp-timeout="3000" isp-delay="3000" isp-hide-after="true"></div-->
    </div>

    </div>


</div>