<div ng-controller="Task204Controller as t204C">


    <div class="row" style="margin-top: 50px;">

        <div class="col col-50 isp-fade" ng-style="{'opacity' : t204C.opacity }">

            <div class="row">
                <div class="col">
                    <img class="center" ng-src="{{t204C.itemA['file']}}" style="height: 400px;" ng-click="t204C.clickItemA()"
                         ng-class="{ 'isp-border-green': t204C.itemA['highlight'] && t204C.itemA['correct'] && !t204C.playingSequence,
                                     'isp-border-red': t204C.itemA['highlight'] && !t204C.itemA['correct'] && !t204C.playingSequence,
                                      'highlight-letter': t204C.itemA['highlight'] && t204C.playingSequence }">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="center" src="content/common/images/pathmenu1ear.png" style="height: 50px;" ng-click="t204C.clickEarA()">
                </div>
            </div>
        </div>

        <div class="col col-50 isp-fade" ng-style="{'opacity' : t204C.opacity }">

            <div class="row">
                <div class="col">
                    <img class="center" ng-src="{{t204C.itemB['file']}}" style="height: 400px;" ng-click="t204C.clickItemB()"
                         ng-class="{ 'isp-border-green': t204C.itemB['highlight'] && t204C.itemB['correct'] && !t204C.playingSequence,
                                    'isp-border-red': t204C.itemB['highlight'] && !t204C.itemB['correct'] && !t204C.playingSequence,
                                    'highlight-letter': t204C.itemB['highlight'] && t204C.playingSequence }">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="center" src="content/common/images/pathmenu1ear.png" style="height: 50px;" ng-click="t204C.clickEarB()">
                </div>
            </div>
        </div>

    </div>


</div>