<ion-view ng-controller="WorkPanelController as wpC">

    <ion-content scroll="false" has-bouncing="false">

        <div ng-if="wpC.showingPanel === 'none'"></div>

        <div class="isp-workpanel-circlearea" ng-if="wpC.showingPanel === 'circle'">

            <div ng-if="!wpC.consolidation" class="isp-task-line-shape-circle" ng-style="wpC.getFinalLineCircleStyle()">
                <div class="isp-arrow-right" ng-style="wpC.getArrowCircleStyle()"></div>
            </div>
            <div ng-show="!$last" class="isp-task-line-shape-circle" ng-style="wpC.getLineCircleStyle($index)" ng-repeat-start="task in wpC.tasks">
                <div class="isp-arrow-right" ng-style="wpC.getArrowCircleStyle()"></div>
            </div>
            <div class="isp-workpanel-task-circle" ng-style="wpC.getTaskCircleStyle($index)" ng-repeat-end>
                <img class="isp-workpanel-task-image" ng-class="{'isp-workpanel-task-image-faded': !task['completed']}"
                     usemap="{{'#taskmap' + $index}}" ng-src="content/common/images/tasksymbol-{{(wpC.consolidation ? 'C' : '') + $index}}.png">
                <map name="{{'taskmap' + $index}}" ng-if="wpC.clickMapIsEnabled($index)">
                    <area shape="circle" coords="75,75,75" ng-click="wpC.selectTask($index)" alt="click task circle">
                </map>
            </div>

            <div class="isp-workpanel-book isp-image-background-book" ng-style="wpC.getBookCircleStyle()"
                 ng-click="wpC.selectBook()" ng-if="!wpC.consolidation">
                <div class="isp-workpanel-book isp-image-background-book" ng-style="wpC.getBookBackgroundImage()"
                     ng-class="{'isp-workpanel-task-image-faded': !wpC.dataService.getBookReadToday()}"></div>
            </div>


            <div ng-if="wpC.showingPanel === 'circle' && wpC.achievement.dayIndex < wpC.selectedDayIndex && wpC.achievement.weekIndex < wpC.selectedWeekIndex" isp-pointer isp-pointer-style="wpC.pointerStyle" isp-hide-after="true"></div>

            <!-- Back button -->
            <img class="isp-common-icon bottom-left"
                 ng-src="content/common/images/home.png"
                 ng-click="wpC.backToPath()">


            <!-- TESTING ONLY!  -->
            <div ng-if="wpC.showCheats" style="position: absolute; top: 0; left: 0; width: 200px; height: 200px;">
                <button class="button button-warning" ng-click="wpC.testCompleteBook()" style="margin-top: 20px; margin-left: 10px;">Complete Book</button>
                <button class="button button-warning" ng-click="wpC.testCompleteBookAndTasks()" style="margin-top: 20px; margin-left: 10px;">Complete Book & Tasks</button>
            </div>


        </div>

        <div ng-if="wpC.showingPanel === 'reminder'">

            <div class="row">
                <div class="col">
                    <img ng-src="content/{{ wpC.word }}/main.jpg" style="width: 90%; height: 90%; margin-left: 50px; margin-top: 10px; max-height: 700px; max-width: 1024px;">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!-- Forward button -->
                    <img class="isp-task-button bottom-right-work isp-forward-arrow center"
                         ng-show="wpC.showForwardReminderArrow"
                         ng-src="content/common/images/forward-arrow-day{{wpC.selectedDayIndex}}.png"
                         ng-click="wpC.showingPanel = 'circle'">
                </div>
            </div>
        </div>

        <div class="row" ng-if="wpC.showingPanel === 'task'">

            <div id="disableInteraction" class="isp-disable-interaction-panel" ng-if="wpC.disableInteraction" ng-click="wpC.stopThePropagation($event)">
                <!--img src="content/common/images/speaker.png"-->
                <img ng-show="wpC.disableInteractionShowSpeaker" class="isp-task-button isp-common-icon top-left" src="content/common/images/pathmenuspeaker.gif">
            </div>

            <div class="col col-90">
                <div class="isp-workpanel-main">


                    <!-- Main work templates are included here -->
                    <div class="isp-task-container" ng-include="wpC.taskTemplateUrl"></div>


                    <!-- Ear button -->
                    <img class="isp-task-button isp-common-icon top-left"
                         ng-hide="wpC.disableInteraction" src="content/common/images/pathmenu1ear.png"
                         ng-click="wpC.playIntroduction()">

                    <!-- Back Up button -->
                    <img class="isp-task-button isp-common-icon bottom-left"
                         ng-src="content/common/images/home.png"
                         ng-click="wpC.backToCircle()">

                    <!-- Forward button -->
                    <img class="isp-task-button bottom-right-work isp-forward-arrow"
                         ng-src="content/common/images/{{wpC.consolidation ? 'forward-arrow-c' + wpC.selectedDayIndex : 'forward-arrow-day' + wpC.selectedDayIndex}}.png"
                         ng-class="{'pulse' : wpC.pulseForwardArrow}"
                         ng-click="wpC.completeTask()" ng-show="wpC.taskIsFinished">

                    <!-- Internal task forward arrow triggered by Task controller -->
                    <img class="isp-task-button bottom-right-work isp-forward-arrow"
                         ng-src="content/common/images/forward-arrow.png"
                         ng-class="{'pulse' : wpC.pulseInternalForwardArrow}"
                         ng-show="wpC.showInternalForwardArrow"
                         ng-click="wpC.clickInternalForwardArrow()">

                </div>

            </div>

            <div class="col isp-workpanel-menu">

                <div ng-show="!$last" class="isp-task-line-shape-linear" ng-style="wpC.getLineLinearStyle($index)" ng-repeat-start="task in wpC.tasks">
                    <div class="isp-arrow-down" ng-style="wpC.getArrowLinearStyle($index)"></div>
                </div>
                <div class="isp-workpanel-task-linear" ng-style="wpC.getTaskLinearStyle($index)" ng-repeat-end>
                    <img class="isp-workpanel-task-image" ng-class="{'isp-workpanel-task-image-faded': !task['completed']}"
                         usemap="{{'#tasklinearmap' + $index}}" ng-src="content/common/images/tasksymbol-{{(wpC.consolidation ? 'C' : '') + $index}}.png">
                    <map name="{{'tasklinearmap' + $index}}" ng-if="task['completed'] || $index === wpC.achievement.taskIndex +1">
                        <area shape="circle" coords="75,75,75" ng-click="wpC.selectTask($index)" alt="click task circle">
                    </map>
                </div>

                <div class="isp-task-indicator" ng-style="wpC.getIndicatorLocation()">
                    <img class="isp-task-avatar" ng-src="content/common/images/avatar-{{wpC.achievement.avatar}}.png">
                    <!--div class="isp-indicator-arrow-left"></div-->
                </div>



            </div>

        </div>

    </ion-content>


</ion-view>
