@import "../../../scss/overrides";

.isp-indicator-arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
  //transform: rotateZ(180deg);
  //transform-origin: bottom left;
  display: inline-block;
  margin-left: -5px;
  margin-bottom: 10px;
}

.isp-arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  transform: rotateZ(180deg);
  transform-origin: 36px 4px;
  position: absolute;
}

.isp-arrow-down {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  transform: rotateZ(270deg);
  transform-origin: bottom right;
  position: absolute;
}

.isp-workpanel-circlearea {
  position: absolute;
}

.isp-workpanel-task-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
}

.isp-workpanel-task-linear {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  position: absolute;
}

.isp-task-line-shape-circle {
  height: 1px;
  width: 80px;
  border-top: 4px solid;
  position: absolute;
}

.isp-task-line-shape-linear {
  height: 20px;
  width: 1px;
  border-left: 4px solid;
  position: absolute;
}

.isp-workpanel-book {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
}

.isp-workpanel-task-image {
  width: 100%;
}

.isp-workpanel-task-image-faded {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    //opacity: 0.7;
}
/*
.isp-workpanel-task-current {
  border: 10px double $isp-colour-green !important;
  -webkit-box-shadow: 0 0 15px 5px rgba(255,255,0,1);
  -moz-box-shadow: 0 0 15px 5px rgba(255,255,0,1);
  box-shadow: 0 0 15px 5px rgba(255,255,0,1);
}
*/

.isp-garage-image-transition {
  -webkit-transition: width 1s, height 1s, top 1s, left 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, top 1s, left 1s, transform 1s;
}

.isp-task-indicator {
  transition:all 1s linear;
  position: absolute;
}

.isp-task-avatar {
  width: 40px;
  display: inline-block;
}

.isp-workpanel-main {
  padding-left: 60px;
  max-height: 768px;
}

.isp-workpanel-menu {
  position: relative;
  padding-top: 20px;
}

.isp-task-button {
  z-index: 1000;
}

.isp-task-drop-zone {
  padding-top: 0;
}

.isp-image-background {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-position: center center;
  background-size: 140%;
}

.isp-image-background-175 {
  display: inline-block;
  width: 175px;
  height: 175px;
  background-position: center center;
  background-size: 140%;
}

.isp-flippy {
  width: 256px !important;
  height: 192px !important;
  &.large {
    width: 512px !important;
    height: 384px !important;
  }
}

.isp-flippy-large {
  width: 512px !important;
  height: 384px !important;
}

.isp-flippy-image-background {
  display: inline-block;
  width: 256px;
  height: 192px;
  background-size: cover;
  &.large {
    width: 512px;
    height: 384px;
  }
}

.isp-flippy-image-background-175 {
  display: inline-block;
  width: 256px;
  height: 192px;
}

.isp-image-background-book {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-position: center center;
  background-size: 100%;
}

.isp-focus-container {
  margin-top: 50px;
  width: 800px;
  height: 630px;
  position: relative;
  overflow: hidden;
}

.isp-task-focusimage-back-button {
  position: absolute;
  right: 0;
  z-index: 10;
}

.isp-disable-interaction-panel {
  //pointer-events:none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-color: rgba(254,254,254,0.01);
  z-index: 10000;
}

.isp-border-green {
  border: solid #00e400 5px !important;
}

.isp-border-red {
  border: solid red 5px !important;
}

.isp-border-black {
  border: solid grey 5px;
}

.highlight-letter {
  -webkit-animation: highlightLetter 1s infinite;
  animation: highlightLetter 1s infinite;
}

@-webkit-keyframes highlightLetter {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  } 50% {
      -webkit-transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5);
    } 100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
      }
}

.isp-task101-circle {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.isp-task107-focus-container {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.isp-task30X-transition {
  -webkit-transition: width 1s, height 1s, top 1s, left 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, top 1s, left 1s, transform 1s;

}

.isp-fade {
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}