<div ng-controller="Task301Controller as t301C">

    <div ng-hide="t301C.showDetail" class="row" style="margin-top: 150px;">

        <div class="col">

            <!-- This image is 'related' and selected from the setup file -->
            <div class="isp-task101-circle isp-image-background"
                 ng-style="t301C.getBackgroundImage()" ng-click="t301C.clickRelatedImage()">
            </div>

        </div>

        <!-- This is the 'main' image -->
        <div class="col">
            <img style="width: 300px; margin-left: 50px; margin-top: 100px;" ng-src="content/{{ wpC.word }}/main.jpg"
                 ng-click="t301C.clickMainImage()">
        </div>

        <div ng-if="t301C.showPointer" isp-pointer isp-pointer-style="{ 'left': '300px', 'top': '350px'}" isp-hide-after="false" isp-delay="0" isp-timeout="8000"></div>

    </div>

    <div ng-if="t301C.showDetail" class="row" ng-click="t301C.clickDetailImage()">

        <!-- 'focus' layout -->
        <div class="isp-focus-container" ng-if="t301C.page2_mode === 'focus'">

            <div isp-imagefocus
                 isp-image-url="{{t301C.page2imageUrl}}"
                 isp-data="t301C.focusData"
                 isp-on-completed="t301C.highlightOnCompleted()"></div>

        </div>

        <!-- 'Overlay' layout-->
        <div class="isp-focus-container" ng-if="t301C.page2_mode === 'overlay'">

            <div ng-if="t301C.customOverlay['code'] === 'zoomable-image'">
                <img ng-src="{{::t301C.page2imageUrl}}">
                <div isp-zoomableimage
                     isp-image-url="{{t301C.customOverlay['filepath']}}"
                     isp-data="t301C.customOverlay">
                </div>

            </div>


        </div>

        <!-- no special formatting -->
        <div class="isp-focus-container" ng-if="t301C.page2_mode === 'none'">
            <img ng-src="{{::t301C.page2imageUrl}}" style="width: 100%;">
        </div>

    </div>


</div>