<div ng-controller="Task205Controller as t205C">


    <div class="row" style="margin-top: 50px;">

        <div class="col col-50 isp-fade" ng-style="{'opacity' : t205C.opacity }">

            <div class="row">
                <div class="col">
                    <img class="center" ng-src="{{t205C.itemA['file']}}" style="height: 400px;" ng-click="t205C.clickItemA()"
                         ng-class="{ 'isp-border-green': t205C.itemA['highlight'] && t205C.itemA['correct'] && !t205C.playingSequence,
                                     'isp-border-red': t205C.itemA['highlight'] && !t205C.itemA['correct'] && !t205C.playingSequence,
                                      'highlight-letter': t205C.itemA['highlight'] && t205C.playingSequence }">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="center" src="content/common/images/pathmenu1ear.png" style="height: 50px;" ng-click="t205C.clickEarA()">
                </div>
            </div>
        </div>

        <div class="col col-50 isp-fade" ng-style="{'opacity' : t205C.opacity }">

            <div class="row">
                <div class="col">
                    <img class="center" ng-src="{{t205C.itemB['file']}}" style="height: 400px;" ng-click="t205C.clickItemB()"
                         ng-class="{ 'isp-border-green': t205C.itemB['highlight'] && t205C.itemB['correct'] && !t205C.playingSequence,
                                    'isp-border-red': t205C.itemB['highlight'] && !t205C.itemB['correct'] && !t205C.playingSequence,
                                    'highlight-letter': t205C.itemB['highlight'] && t205C.playingSequence }">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="center" src="content/common/images/pathmenu1ear.png" style="height: 50px;" ng-click="t205C.clickEarB()">
                </div>
            </div>
        </div>

    </div>


</div>