
@import "../../../scss/overrides";


.draggable-objects {
  position: absolute;
  z-index: 1000;
  background-color: rgba(250,250,250,0.3);
  background-image: url("../content/common/images/stars1.gif");
  background-size: contain;
}

ul.draggable-objects:after {
  display: block;
  content: "";
  clear: both;
}

.draggable-objects li {
  float: left;
  display: block;
  width: 100px;
  height: 100px;
}

.isp-reward-drop-zone {
  width: 1024px;
  height: 768px;
  background-image: url("../content/common/images/reward-background.png");
}

.isp-reward-item {
  position: absolute;
}

[ng-drag] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[ng-drag] {
  width: 100px;
  height: 100px;
//  background: rgba(255, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding-top: 5px;
  display: inline-block;
//  margin: 0 10px;
  cursor: move;
}

[ng-drag].drag-over {
//  border: solid 1px red;
}

[ng-drag].dragging {
  opacity: 0.5;
  z-index: 100;
}

[ng-drop] {
 // background: rgba(0, 255, 0, 0.5);
 // text-align: center;
//  width: 600px;
//  height: 200px;
  //padding-top: 90px;
  display: block;
//  margin: 20px auto;
  position: relative;
}

[ng-drop].drag-enter {
//  border: solid 1px red;
}

[ng-drop] img {
  position: relative;
  z-index: 2;
}

.isp-reward-presentation {
  width: 1024px;
  height: 768px;
  position: relative;
  background-image: url("../content/common/images/stars.gif");
  img {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
  }
}

.isp-reward-holder {
  position: relative;
  img {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
  }
}

/*
.container {
  position: relative;
}
img {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
}
*/