<ion-view ng-controller="RewardPanelController as rpC">

    <ion-content scroll="false" has-bouncing="false">

        <div ng-if="rpC.showingPanel === 'none'"></div>


        <div ng-if="rpC.showingPanel === 'present'" class="isp-reward-presentation">
            <img ng-if="rpC.newReward !== null" ng-src="content/common/images/rewards/week-{{::rpC.newReward.weekIndex + '/' + rpC.newReward.dayIndex + '.' + rpC.newReward.type}}">
        </div>


        <div ng-if="rpC.showingPanel === 'reward'">


            <ul class="draggable-objects" ng-if="rpC.showStars">
                <li ng-if="true">
                    <div class="isp-reward-holder" ng-repeat="obj in rpC.draggableObjects" id="ispRewardDragItem{{$index}}" ng-drag="true" ng-drag-data="obj" data-allow-transform="false">
                        <img ng-src="content/common/images/rewards/week-{{::obj.weekIndex + '/' + obj.dayIndex + '.' + obj.type}}" style="width: 100px;">
                    </div>
                    <!--img ng-repeat="obj in rpC.$scope.draggableObjects" id="ispRewardDragItem{{$index}}" ng-drag="true" ng-drag-data="obj" data-allow-transform="false"
                        ng-src="content/common/images/rewards/{{::obj.src}}"-->
                </li>
            </ul>



            <div id="ispRewardDropzone" class="isp-reward-drop-zone" ng-drop="true" ng-drop-success="rpC.onDropComplete($data,$event)">

                    <!--div ng-repeat="obj in rpC.$scope.droppedObjects" ng-style="rpC.getRewardCoordinates(obj)"
                         ng-drag="true" ng-drag-data="obj" ng-drag-success="rpC.$scope.onDragSuccess($data, $event)" ng-center-anchor="{{rpC.$scope.centerAnchor}}"-->

                    <div class="isp-reward-item" ng-repeat="obj in rpC.droppedObjects" id="ispRewardDroppedItem{{$index}}" ng-drag="true" ng-drag-data="obj"
                         ng-drag-success="rpC.onDragSuccess($data,$event)" ng-center-anchor="false" ng-style="rpC.getRewardCoordinates(obj)">
                        <img ng-src="content/common/images/rewards/week-{{::obj.weekIndex + '/' + obj.dayIndex + '.' + obj.type}}">
                    </div>

            </div>

            <!-- Back button -->
            <img class="isp-common-icon bottom-left" style="z-index: 1000;"
                 ng-src="content/common/images/home.png"
                 ng-click="rpC.completeReward()">


        </div>

    </ion-content>

</ion-view>
