<div ng-controller="Task304Controller as t304C" style="margin-left: 50px;">

    <div class="row">
        <div class="col col-25">
            <div ng-click="t304C.captureAudio()" style="margin-top: 200px; width: 100px;">
                <img src="content/common/images/record-start.png" ng-hide="t304C.recording" style="width: 100%;">
                <img src="content/common/images/record-stop.png" ng-show="t304C.recording" style="width: 100%;">
            </div>
            <img src="content/common/images/play.png" ng-click="t304C.replayAudio()" ng-hide="t304C.recording" style="margin-top: 50px; width: 100px;">
        </div>

        <div class="col col-75">

            <div class="row">
                <div class="col">
                    <img class="center" ng-src="{{t304C.parrotUrl}}" style="width: 400px; z-index: 10; position: fixed;">

                    <img class="isp-task30X-transition center"
                         style="position: absolute; top: 400px; left: 300px; z-index: 5; width: 275px;"
                         ng-class="{'grow-letter': t304C.lightMainImage}"
                         ng-src="{{::t304C.mainImageUrl}}"
                         ng-style="t304C.growStyle"
                         ng-click="t304C.clickImage()">
                </div>
            </div>
        </div>

    </div>

</div>