<div>

    <img id="highlight-image" ng-style="ifC.focusStyle" ng-src="{{::ifC.imageUrl}}">


    <div id="highlight-container" ng-style="ifC.highlightStyle">
        <div id="highlight-halfclip">
            <div class="highlight-halfcircle" id="highlight-clipped"></div>
        </div>
        <div class="highlight-halfcircle" id="highlight-fixed"></div>
    </div>

    <div id="ispClickableMapArea" ng-if="ifC.mapStyle !== null"
         ng-style="ifC.mapStyle" ng-click="ifC.startFocus()">

        <img class="isp-bouncing-arrow" ng-class="{'pulse' : ifC.bounce}"
             ng-style="{'left': ifC.isolatedScope.ispData.pointer['x'] + 'px', 'top': ifC.isolatedScope.ispData.pointer['y'] + 'px'}"
             ng-if="ifC.showBounce"
             ng-src="content/common/images/pointer.png">

    </div>


</div>