
@font-face{
  font-family: 'Gotham Light';
  src: url('../fonts/Gotham-Light.otf');
}

@font-face{
  font-family: 'Gotham Light Italic';
  src: url('../fonts/Gotham-LightItalic.otf');
}

@font-face{
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham-Book.otf');
}

@font-face{
  font-family: 'Gotham Book Italic';
  src: url('../fonts/Gotham-BookItalic.otf');
}

@font-face{
  font-family: 'Gotham Medium';
  src: url('../fonts/Gotham-Medium.otf');
}

@font-face{
  font-family: 'Gotham Medium Italic';
  src: url('../fonts/Gotham-MediumItalic.otf');
}

@font-face{
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham-Bold.otf');
}

@font-face{
  font-family: 'Gotham Bold Italic';
  src: url('../fonts/Gotham-BoldItalic.otf');
}
