.bottom-right {
  left: 800px;
  top: 650px;
}

.bottom-right-work {
  left: 750px;
  top: 680px;
}

.bottom-right-book {
  left: 900px;
  top: 650px;
  width: 100px !important;
}

.bottom-left {
  left: 10px;
  top: 700px;
}

.bottom-right {
  left: 950px;
  top: 700px;
}

.top-left {
  left: 10px;
  top: 10px;
}

.top-right {
  left: 974px;
  top: 10px;
}


.top-right-work {
  left: 850px;
  top: 10px;
}

.isp-task-container {
  width: 800px;
  height: 700px;
  position: relative;
}

.wrap {
  margin: 100px auto;
  width: 130px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}