//   Breakpoints

@mixin breakpoint($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  }
  @else {
    @warn "No breakpoint named `#{$breakpoint}`. ";
  }
}

//  Font sizes iteration

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}


//  Vertical align

@mixin verticalAlign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

//  Input placeholder

@mixin input-placeholder {
    &.placeholder { @content; }
}



// Rem to PX

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin rem-calc($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

// Clearfix

@mixin clearfix {
    content: ' ';
    display: block;
    clear: both;
}
