<div ng-controller="TaskC102Controller as C102C">

    <div ng-if="C102C.page === 1">

        <img style="position: absolute; top: -10px; left: -70px; width: 1150px;" src="content/common/images/consolidation/task3/van-background.png">

        <div isp-zoomableimage
             isp-image-url="content/common/images/consolidation/task3/van-side.png"
             isp-on-completed="C102C.driveOnPageOneCompleted()"
             isp-data="C102C.pageOneImageData">
        </div>

    </div>

    <div ng-if="C102C.page === 2">

        <!--img src="content/common/images/consolidation/garage.png"
             style="position: absolute; right: 0;"-->
        <img src="content/common/images/consolidation/task3/van-open.png" ng-hide="C102C.vanIsClosed"
             style="position: absolute; width: 670px; bottom: 0; left: 0;">
        <img src="content/common/images/consolidation/task3/van-closed.png" ng-show="C102C.vanIsClosed"
             style="position: absolute; width: 350px; bottom: 0; left: 142px;">

        <img ng-src="{{'content/common/images/consolidation/task3/' + C102C.familyCharacter}}" ng-hide="C102C.vanIsClosed"
             class="isp-fade" style="position: absolute; width: 150px; bottom: 0; left: 535px;" ng-style="{'opacity' : C102C.opacity }">

        <!-- Draggable Items -->
        <div style="position: absolute; width: 800px; height: 400px; left: 0; top: 0;">
            <div style="position:relative; width: 100%; height: 100%;">
                <div ng-repeat="item in C102C['draggableObjects' + C102C.round]" id="ispTaskDragItem{{$index}}" ng-drag="item['draggable']"
                     restore-saved-css="true" ng-drag-data="item" data-allow-transform="false"
                     ng-class="{'isp-garage-image-transition' : item['transition']}"
                     ng-style="item['style']">
                    <img style="width: 100%;" ng-click="C102C.clickImage(item['audio'])" ng-src="{{item['image']}}">
                </div>
            </div>
        </div>


        <!-- Drop Area -->
        <div id="ispTaskDropzoneBox" class="isp-task-drop-zone-box" ng-drop="true" ng-drop-success="C102C.onDropComplete($data)"
             ng-hide="C102C.vanIsClosed" style="position: absolute; width: 265px; height: 290px; left: 180px; top: 300px;">

            <div style="position: relative">
                <div class="isp-dragged-item" ng-repeat="item in C102C.droppedObjects" id="ispTaskDroppedItem{{$index}}" style="position: absolute;">
                    <img ng-src="{{item['image']}}" ng-style="item['style']">
                </div>
            </div>

        </div>


    </div>

    <div ng-if="C102C.page === 3">

        <img style="position: absolute; top: -10px; left: -70px; width: 1150px;" src="content/common/images/consolidation/task3/van-background.png">

        <div isp-zoomableimage
             isp-image-url="content/common/images/consolidation/task3/van-side.png"
             isp-on-completed="C102C.driveOffPageThreeCompleted()"
             isp-data="C102C.pageThreeImageData">
        </div>

    </div>

</div>