<div ng-controller="Task306Controller as t306C" style="margin-left: 50px;">

    <img class="isp-task30X-transition" style="position: absolute;" ng-src="{{t306C.selectedItem['openImage']}}" ng-style="t306C.selectedItem['style']" >
    <img ng-src="{{t306C.selectedItem['image']}}" ng-click="t306C.clickGift()" style="position: absolute; width: 200px; top: 200px; left: 250px;" ng-show="!t306C.selectedItem['opened'] && t306C.showStone" >

    <!--div class="row" style="margin-top: 60px;" ng-repeat="row in [0,2]" ng-show="t306C.activate">
            <div class="col" ng-repeat="col in [0,1]">

                <img ng-src="{{t306C['item'+(row+col)]['closedImage']}}" ng-hide="t306C['item'+(row+col)]['opened']" style="width: 200px;"
                ng-click="t306C.clickImage(row+col)">

            </div>

    </div-->


    <div style="margin-top: 60px;" ng-show="t306C.activate">

        <img ng-src="{{t306C['item0']['closedImage']}}" ng-hide="t306C['item0']['opened']" style="width: 200px; position: absolute; left: 100px; top: 0;"
             ng-click="t306C.clickImage(0)">

        <img ng-src="{{t306C['item1']['closedImage']}}" ng-hide="t306C['item1']['opened']" style="width: 200px; position: absolute; left: 400px; top: 0;"
             ng-click="t306C.clickImage(1)">

        <img ng-src="{{t306C['item2']['closedImage']}}" ng-hide="t306C['item2']['opened']" style="width: 200px; position: absolute; left: 100px; top: 350px;"
             ng-click="t306C.clickImage(2)">

        <img ng-src="{{t306C['item3']['closedImage']}}" ng-hide="t306C['item3']['opened']" style="width: 200px; position: absolute; left: 400px; top: 350px;"
             ng-click="t306C.clickImage(3)">

    </div>



    <img ng-show="t306C.activate && t306C.clickedFlippys.length === 4" src="content/common/images/unwrapped.png">


</div>