<div ng-controller="Task302Controller as t302C" style="margin-left: 50px;">


    <img ng-src="content/{{::t302C.word}}/category/category.jpg" ng-show="t302C.activate" style="position: absolute; width: 300px; left: 270px; top: 180px;" ng-click="t302C.clickMainImage()">

    <img ng-src="{{t302C.selectedItem['image']}}" style="position: absolute; height: 600px;"
         ng-style="t302C.selectedItem['style']" ng-click="t302C.clickDetailImage()" class="isp-task30X-transition">

    <!--div ng-show="t302C.showShrink" style="position: absolute; bottom: -50px; left: 400px;">

        <img class="isp-task-button isp-detail-icon center"
             ng-src="content/common/images/forward-arrow.png"
             ng-click="t302C.shrinkFlippy()">
    </div-->

    <div ng-show="t302C.activate">

        <div class="row" style="margin-top: 60px;">
            <div class="col">
                <flippy
                        class="fancy isp-flippy center"
                        flip="['click']"
                        flip-back="['custom:FLIP_EVENT_OUT']"
                        duration="800"
                        timing-function="ease-in-out"
                        ng-click="t302C.clickFlippy(0)"
                        style="width: 175px; height: 175px;">

                    <flippy-front>
                        <img ng-src="content/common/images/questionmark.png">
                    </flippy-front>

                    <flippy-back>
                        <div class="isp-flippy-image-background" ng-style="t302C.getBackgroundImage(0)"></div>
                    </flippy-back>

                </flippy>
            </div>
            <div class="col"></div>
            <div class="col">
                <flippy
                        class="fancy isp-flippy center"
                        flip="['click']"
                        flip-back="['custom:FLIP_EVENT_OUT']"
                        duration="800"
                        timing-function="ease-in-out"
                        ng-click="t302C.clickFlippy(1)"
                        style="width: 175px; height: 175px;">

                    <flippy-front>
                        <img ng-src="content/common/images/questionmark.png">
                    </flippy-front>

                    <flippy-back>
                        <div class="isp-flippy-image-background" ng-style="t302C.getBackgroundImage(1)"></div>
                    </flippy-back>

                </flippy>
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col" style="height: 150px;">
                <p></p>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col">
                <flippy
                        class="fancy isp-flippy center"
                        flip="['click']"
                        flip-back="['custom:FLIP_EVENT_OUT']"
                        duration="800"
                        timing-function="ease-in-out"
                        ng-click="t302C.clickFlippy(2)"
                        style="width: 175px; height: 175px;">

                    <flippy-front>
                        <img ng-src="content/common/images/questionmark.png">
                    </flippy-front>

                    <flippy-back>
                        <div class="isp-flippy-image-background" ng-style="t302C.getBackgroundImage(2)"></div>
                    </flippy-back>

                </flippy>
            </div>
            <div class="col"></div>
            <div class="col">
                <flippy
                        class="fancy isp-flippy center"
                        flip="['click']"
                        flip-back="['custom:FLIP_EVENT_OUT']"
                        duration="800"
                        timing-function="ease-in-out"
                        ng-click="t302C.clickFlippy(3)"
                        style="width: 175px; height: 175px;">

                    <flippy-front>
                        <img ng-src="content/common/images/questionmark.png">
                    </flippy-front>

                    <flippy-back>
                        <div class="isp-flippy-image-background" ng-style="t302C.getBackgroundImage(3)"></div>
                    </flippy-back>

                </flippy>
            </div>
        </div>

    </div>

</div>