<div ng-controller="TaskC105Controller as C105C">


    <div class="row" style="margin-top: 50px;">
        <div class="col center" style="height: 375px;">
            <img ng-show="C105C.showImage" ng-src="{{C105C.imageUrl}}"
                 ng-class="{'isp-border-green': C105C.highlightCorrect, 'isp-border-red': C105C.highlightIncorrect}"
                 style="max-width: 500px;" ng-click="C105C.clickImage()">
        </div>
    </div>
    <div class="row">
        <div class="col col-50 center">
            <img ng-src="content/common/images/consolidation/false.png" ng-click="C105C.clickChoice(false)" style="width: 150px; margin-top: 60px;">
        </div>
        <div class="col col-50 center">
            <img ng-src="content/common/images/consolidation/true.png" ng-click="C105C.clickChoice(true)" style="width: 150px; margin-top: 60px;">
        </div>
    </div>


</div>