<div ng-controller="Task200Controller as t200C">


    <div class="row" style="margin-top: 100px;">
        <div class="col center">
            <img ng-show="t200C.showImage" ng-src="{{t200C.imageUrl}}" ng-class="{'isp-border-green': t200C.highlightGreen, 'isp-border-red': t200C.highlightRed }"
                 style="max-width: 400px;" ng-click="t200C.clickImage()">
        </div>
    </div>
    <div class="row">
        <div class="col col-50 center">
            <img ng-src="content/common/images/cross.png" ng-click="t200C.clickChoice(false)" style="width: 150px; margin-top: 60px;">
        </div>
        <div class="col col-50 center">
            <img ng-src="content/common/images/tick.png" ng-click="t200C.clickChoice(true)" style="width: 150px; margin-top: 60px;">
        </div>
    </div>


</div>