<div ng-controller="Task104Controller as t104C" style="margin-left: 50px;">


    <div class="row" style="margin-top: 60px;">
        <div class="col">
            <div isp-video-player
                 isp-video-url="{{::t104C.videoUrl}}"
                 isp-poster-url="{{t104C.posterUrl}}"
                 isp-active="t104C.videoActive"
                 isp-on-completed="t104C.videoFinished()"></div>
        </div>

        <div ng-if="t104C.videoActive.active" isp-pointer isp-pointer-style="{ 'left': '370px', 'top': '250px'}" isp-timeout="2000" isp-hide-after="true"></div>

    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img ng-src="{{::t104C.imageUrl}}" ng-click="t104C.clickImage()" style="width: 200px;">
        </div>
        <div class="col"></div>
    </div>


</div>