<div ng-controller="Task203Controller as t203C">


    <div class="row">

        <div isp-video-player
             isp-video-url="{{t203C.videoUrl}}"
             isp-poster-url="{{t203C.posterUrl}}"
             isp-on-play="t203C.videoPlaying()"
             isp-active="t203C.videoActive"
             isp-on-completed="t203C.videoPlayed()">

        </div>

    </div>

    <div class="row" ng-show="t203C.showImages" style="margin-top: 30px;">

        <div class="col col-50" >
            <img class="isp-border-black center" ng-src="{{t203C.itemA['file']}}" style="height: 175px;" ng-click="t203C.clickItemA()"
                 ng-class="{'isp-border-green': t203C.borderAActive && t203C.itemA['correct'],
                            'isp-border-red': t203C.borderAActive && !t203C.itemA['correct'],
                            'highlight-letter': t203C.itemA['highlight'] }">
        </div>

        <div class="col col-50" >
            <img class="isp-border-black center" ng-src="{{t203C.itemB['file']}}" style="height: 175px;" ng-click="t203C.clickItemB()"
                 ng-class="{'isp-border-green': t203C.borderBActive && t203C.itemB['correct'],
                            'isp-border-red': t203C.borderBActive && !t203C.itemB['correct'],
                            'highlight-letter': t203C.itemB['highlight'] }">
        </div>

    </div>


</div>