<div ng-controller="Task206Controller as t206C">

    <div class="row" style="margin-top: 50px;" ng-if="t206C.selectedVideo !== ''">

        <div isp-video-player
             isp-video-url="{{t206C.selectedVideo['file']}}"
             isp-poster-url="{{t206C.selectedVideo['poster']}}"
             isp-on-play="t206C.videoPlaying()"
             isp-active="t206C.videoActive"
             isp-on-completed="t206C.videoPlayed()"></div>

        <!--div ng-if="t206C.showPointer" isp-pointer isp-pointer-style="{ 'left': '370px', 'top': '250px'}" isp-timeout="3000" isp-hide-after="true"></div-->

    </div>

    <div class="row" ng-if="t206C.selectedVideo !== ''">

        <div class="col col-50" >
            <img class="isp-border-black center" ng-src="{{t206C.itemA['file']}}" style="height: 150px;" ng-click="t206C.clickItemA()"
                 ng-class="{ 'isp-border-green': t206C.selectedVideo['correctItem']['highlighted'] && t206C.highlightA,
                             'isp-border-red': t206C.selectedVideo['incorrectItem']['highlighted']  && t206C.highlightA }">
        </div>

        <div class="col col-50" >
            <img class="isp-border-black center" ng-src="{{t206C.itemB['file']}}" style="height: 150px;" ng-click="t206C.clickItemB()"
                 ng-class="{ 'isp-border-green': t206C.selectedVideo['correctItem']['highlighted'] && t206C.highlightB,
                             'isp-border-red': t206C.selectedVideo['incorrectItem']['highlighted'] && t206C.highlightB }">
        </div>

    </div>


</div>