<div ng-controller="TaskC103Controller as C103C">


    <div class="row" style="margin-top: 50px;">
        <div class="col center" style="height: 375px;">
            <img ng-show="C103C.showImage" ng-src="{{C103C.imageUrl}}"
                 ng-class="{'isp-border-green': C103C.highlightCorrect, 'isp-border-red': C103C.highlightIncorrect}"
                 style="max-width: 500px;" ng-click="C103C.clickImage()">
        </div>
    </div>
    <div class="row">
        <div class="col col-50 center">
            <img ng-src="content/common/images/consolidation/silly.png" ng-click="C103C.clickChoice(false)" style="width: 150px; margin-top: 60px;"
                 ng-class="{ 'highlight-letter': C103C.highlightSilly }">
        </div>
        <div class="col col-50 center">
            <img ng-src="content/common/images/consolidation/sensible.png" ng-click="C103C.clickChoice(true)" style="width: 150px; margin-top: 60px;"
                 ng-class="{ 'highlight-letter': C103C.highlightSensible }">
        </div>
    </div>


</div>